:root {
    --dark: #16191c;
    --dark-x: #1e2126;
    --blanco: #ffffff;
}
body{
    font-family: 'Cinzel', serif;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    color: var(--blanco) !important;
}

.bg-dark{
    background-color: var(--dark) !important ;
}
.bg-dark-x{
    background-color: var(--dark-x) !important;
}
.form-control , .btn{
    min-height: 3.123rem;
    line-height: initial;
}
.btn{
margin-top: 1rem;
}